# The virtual environment. Create locally using pip install -r requirements.txt from project dir
*VenvBulkScript*
*__pycache__*

# Added below ad hoc during deployment and can simply be removed 
*scratch*
*source_versions.csv*